@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
}

/*--------------------*/
html {
	scroll-behavior: smooth;
}


body {
	background-color: rgba(241, 233, 222, 0.925);
	font-size: 1em;
}

.wrapper {
	max-width: 1920px;
	width: 80%;
	margin: 0 auto;
}

.bayan {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

h1 {
	font-size: 3em;
	font-weight: 700;
	padding-bottom: 2%;
	padding-top: 2%;
}

.bayan-item {
	display: flex;
	flex-direction: column;

	margin-top: -0.5em;
}

.title_item {
	display: block;
	cursor: pointer;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}




h2 {
	font-size: 2em;
	font-weight: 500;
}

/* .bayan-input:checked~.image {
	display: block;
	transition: 1s linear;

} */

.image {
	display: none;
	width: 40%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 10em;

}

/* .image:hover {
	transform: scale(1.1);
	transition: 0.8s ease;
} */